:root {
  --bg-body: #ebecee;
  --bg-content: #fff;
  --bg-dark: #e0e2e6;
  --color-text: #4d4d4d;
  --color-text-light: #98a4a4;
  --color-text-dark: #333333;
  --color-border: #e2e5ea;
  --green: #28b662;
  --red: #e43726;

  --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

  --max-width: 500px;
  --border-radius: 2px;
}
